img.logo{
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.stick{
  margin-right: 40px;
  display: flex;
  align-items: center;
  margin-left: 17%;
  @media screen and (max-width: 700px){
    margin-left: 10px;
  }

  .big{
    border: none;
    margin-right: 5px;
    font-weight: bold;
    font-size: 22px;
  }

  span{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
  }
}

.head{
  .wrap{
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding: 10px;
    margin: 0 auto;
    // padding-left: 15rem;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    background: rgb(255, 255, 255);
    .showMenu {
      div{
        border: 1px solid black;
        width: 30px;
        margin: 7px;
      }

      @media screen and (max-width: 700px){
        display: block;
      }
    }
    @media screen and (max-width: 700px){
      padding-left: 10px;
    }


    a{
      // margin: 0 40px;
      color: gray;
    }

    a:hover,
    a:focus,
    a:active {
      color: #0070f3;
      border-color: #0070f3;
    }
  }
}

